// Override default variables before the import
$body-bg: #F4F5F6;

$primary:    #F77911;
$secondary:  #2391EB;
$success:    #79FCF6;
$info:       #6F2DBD;
$warning:    #90D936;
$danger:     #E40CF0;
$light:      #ffffff;
$dark:       #2E3837;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';